<form (ngSubmit)="onSubmit(searchForm)" #searchForm="ngForm">

    <div class="row">
        <div class="form-group col-6">
            <input 
                placeholder="Filtro de Nombre"
                type="text"
                id="name"
                name="name"
                class="form-control"
                ngModel
                required
            />
        </div>
        <div class="form-group col-2">
            <button class="btn btn-primary" type="submit">Buscar</button>
        </div>
    </div>

</form>